@import "tailwindcss";

:root {
  --background: #2727273b;
  --foreground:oklch(98.7% 0.022 95.277);

  --navbar-h:
  /* remember to make variable to navbar mainpage and footer for when you finished making them*/
  

  /* --idk: #171717; */
}





@theme{

  --animate-wiggle: wiggle 1s ease-in-out infinite;  
  @keyframes wiggle {    
    0%,    
    
    100% {      
      transform: rotate(-3deg);    
    }    
    50% {      
      transform: rotate(3deg);    
    }
      
  }
  --animate-hover-wiggle: hover_wiggle 4s ease-in; 
  @keyframes hover_wiggle{    
    0%,    
    
    100% {      
      transform:scale(1.1);

    },
    50% {      
      transform:scale(1.03);

    }

      
  }
  
  --animate-rainbow-effect: rainbow-effect 3s linear infinite; 
  @keyframes rainbow-effect{    
    0%{
      color:purple;
    },    
    16%{
      color:red;
    }
    33%{
      color:yellow;
    }
    50%{
      color:orange;
    }
    66%{
      color:green;
    }
    82%{
      color:blue;
    }
    100%{
      color:purple;
    }
      
  }

  --spacing-main: calc(100vh - 40px - 100px );

  --text-primary: 5.5rem;
  --text-secondary: 3rem;
  --text-navbar-opt: 2.5rem;


  --color-moon-500: #1c2638;
  --color-lighty-500: #fcfcfc;
  --color-bavaroa-500: #EE1643;
  --color-panel-trans: var(--background);
  --color-miku-500: #00ddc0;




  
}

html {
  
  background:  #070707; /* hehe fc, fizzy */
  color: oklch(98.7% 0.022 95.277);
  font-family: 'Londrina Solid', system-ui;
  font-weight: 400;
  /* font-family: 'Bubblegum Sans', sans-serif; */

  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
}

h3{
  margin-top: 1rem;

}

p{
  margin-top: 0.5rem;
  font-weight: var(--font-weight-light);
  font-size: var(--text-xl);
  line-height: calc(var(--spacing) * 5); /* 1.25rem = 20px */
}

.dog{
  position: absolute;
  object-fit: contain;
  image-rendering: pixelated;
}



