@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));


@theme{

  --animate-wiggle: wiggle 1.8s ease-in-out infinite;  
  @keyframes wiggle {    
    0%{
      transform: translate(0%, -8%);  
    }      
    50% {      
      transform: translate(0%, 8%);    
    }
    100%{
      transform: translate(0%, -8%);  
  
    }
      
  }
  --animate-hover-wiggle: hover_wiggle 4s ease-in; 
  @keyframes hover_wiggle{    
    0%,    
    
    100% {      
      transform:scale(1.1);

    },
    50% {      
      transform:scale(1.03);

    }

      
  }
  
  --animate-rainbow-effect: rainbow-effect 2.5s linear infinite; 
  @keyframes rainbow-effect{    
    0%{
      color:purple;
    }
    16%{
      color:red;
    }
    33%{
      color:yellow;
    }
    50%{
      color:orange;
    }
    66%{
      color:green;
    }
    82%{
      color:blue;
    }
    100%{
      color:purple;
    }
      
  }

  

  --spacing-main: calc(100vh - 40px - 100px );

  --text-primary: 5.5rem;
  --text-secondary: 3rem;
  --text-navbar-opt: 2.5rem;

  --color-lighty-500: #f6f5f1;
  --color-darky-500: #070707;

  --color-bsk-500: #0886FE;
  --color-bsk-800: #086fd0 ;


  /* --color-lighty-500: #fcfcfc; */
  --color-bavaroa-500: #EE1643;
  --color-bavaroa-800: #da0c35;

  --color-panel-trans: var(--background);
  --color-miku-500: #00ddc0;

}

html {
  
  font-family: 'Londrina Solid', system-ui;
  font-weight: 400;
  
  /* font-family: 'Bubblegum Sans', sans-serif; */
  background-color: #e5e5f7;

  /* background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; */
  scrollbar-width: none; /* Firefox */
}



.dog{
  
  image-rendering: pixelated; /* Preferred modern approach */
  image-rendering: -webkit-optimize-contrast; /* Older Webkit browsers */
  image-rendering: crisp-edges; /* Wider compatibility */

}

.work-p{
  font-size: var(--text-2xl) /* 1.25rem = 20px */;
  line-height: var(--tw-leading, var(--text-xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */);
  font-weight: var(--font-weight-light);
  margin-top: 1rem;
  margin-inline: 1rem;
}